<h2><%= t('my_profile')%></h2>
<div class="card">
  <div class="card-body">
    <h2 class="card-title"><%= @user.full_name %></h2>
    <%= mail_to @user.email, class: "card-subtitle mb-2 text-muted" %>

      <hr>
    <p class="card-text">
      <h2 class="card-title"><%= t("description_header") %></h2>
      <%= @user.description %>
    </p>
  </div>
</div>
