<h2><%= t('my_profile')%></h2>
<div class="card">
  <div class="card-body">
    <h2 class="card-title"><%= @user.full_name %></h2>
    <%= mail_to @user.email, class: "card-subtitle mb-2 text-muted" %>
    <% if @user != current_user %>
      <%= link_to "Log in as this user", su_path(@user.id) %>
    <% end %>

    <% if @user.description.present? %>
        <hr>
        <p class="card-text">
        <%= @user.description %>
        </p>
    <% end %>
  </div>
</div>
