<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
    <%= msg %>
  </div>
<% end %>

<h2><%= t('profile.form.edit') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-floating mb-3">
    <%= f.text_area :description, placeholder: "Profile description", class: "form-control", style: "height: 100px" %>
    <%= f.label :description %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :telephone_number, placeholder: "+49123456", class: "form-control" %>
    <%= f.label :telephone_number, I18n.t("profile.phone_number") %>
  </div>
  <div class="mb-3">
      <%= f.file_field :avatar, accept: 'image/jpg, image/png, image/jpeg', class: "form-control" %>
  </div>
  <div class="actions mb-3">
    <%= f.submit t('profile.form.update'), class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to profile_path(current_user), class: "btn btn-primary" do%>
  <i class="bi bi-arrow-left-circle me-2"></i>
  <%= t('profile.form.back') %>
<% end %>
