<%= form_with id: "item-filter", url: request.path, method: :get do |f| %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">
      <%= f.select :item, options_for_select([
          ["All Items", "", {selected: true}]].concat(
            Item.all.map{|item| item.name}),
          params[:item]), {}, 
        onChange: "javascript: this.form.submit();",
        class: "form-select form-control dropdown-toggle" %>
      </th>
      <th class="align-middle" scope="col"><%= t("analytics.history.category")%></th>
      <th class="align-middle" scope="col"><%= t("analytics.history.date_borrowed")%></th>
      <th class="align-middle" scope="col"><%= t("analytics.history.date_returned")%></th>
      <th class="align-middle" scope="col"><%= t("analytics.history.borrowed_by")%></th>
    </tr>
  </thead>
  <tbody>
    <% @lendings.each do |lending| %>
      <tr>
        <td><%= link_to lending.item.name, item_path(lending.item.id) %></td>
        <td><%=
          case lending.item.item_type
          when "book"
            t('items.type.book')
          when "movie"
            t('items.type.movie')
          when "game"
            t('items.type.game')
          when "other"
            t('items.type.other')
          else
            t('items.type.other')
          end
        %></td>
        <td><%= lending.started_at.strftime("%d-%m-%Y") %></td>
        <td><%=
          if (lending.completed_at)
            lending.completed_at.strftime("%d-%m-%Y")
          else
            t('analytics.history.not_returned')
          end
        %></td>
        <td><%= link_to lending.user.full_name, profile_path(lending.user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= hidden_field_tag('locale', params[:locale]) %>
<%= hidden_field_tag('mode', params[:mode]) %>

<% end %>
