<h1>
  <%= render GroupNameComponent.new(group: @group) %>
  <button type="button" class="btn btn-sm btn-primary text-light bi bi-pencil-fill" data-bs-toggle="modal" data-bs-target="#editGroupModal">
  </button>
</h1>

<%= render "modal-edit", group: @group %>

<p>
<strong><%= @group.users.count %></strong>
<%= t(:group_member, count: @group.users.count) %>:
</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"><%= t(:member_name) %></th>
      <th scope="col"><%= t(:member_email) %></th>
      <th scope="col" style="width: 6rem"></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% @group.users.each do |user| %>
    <tr>
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <% if not user.admin_in?(@group) %>
        <td>
          <a href="#" class="btn btn-sm btn-warning text-light"><i class="bi bi-chat-fill"></i></a>
          <% if @user.admin_in?(@group) %>
            <%= button_to group_remove_user_path(@group), method: :patch, params: {group: @group, user: user}, class: "btn btn-sm btn-primary", form: {class: "d-inline"} do %>
              <i class="bi bi-person-dash-fill"></i>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<% if @user.admin_in?(@group) %> 
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-secondary mx-1" data-bs-toggle="modal" data-bs-target="#addMemberGroupModal">
      <%= t(:group_add_member) %>
    </button>
    <%= render "modal-add-member", group: @group %>

    <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#deleteGroupModal">
      <%= t(:delete_group) %>
    </button>
    <%= render "modal-delete", group: @group %>
  </div>
<% end %>
