<%# Remove <br> when we have global spacing under navbar %>
<br>
<div class="container">
  <div class="my-5">
    <div class="d-flex flex-row-reverse">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createGroupModal">
        <%= t(:create_group) %>
      </button>
    </div>
  </div>
</div>
<!-- new group modal -->
<div class="modal fade" id="createGroupModal" tabindex="-1" aria-labelledby="createGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="createGroupModalLabel"><%= t(:create_group) %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t(:cancel) %>"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: Group.new) do |form| %>
          <div>
            <%= form.label :name, t(:group_name_prompt), class: "form-label" %>
            <%= form.text_field :name, placeholder: t(:group_name), class: "form-control" %>
          </div>
      </div>

      <div class="modal-footer border-0 justify-content-evenly">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t(:cancel) %></button>
        <%= form.submit t(:create_group), :class => "btn btn-primary" %>
      </div>
        <% end %>
    </div>
  </div>
</div>

<%# maybe use https://www.codeply.com/p/0CWffz76Q9 ?? #%>
  <% @groups.each do |group| %>
  <div class="bg-light">
  <div class="container text-center mt-5 py-3">
    <h3>
      <%= group.name %>
      <% if @user.admin_in?(group)%>
        <%= link_to " ", edit_group_path(group), class: "badge bg-secondary bi bi-pencil-fill" %>
      <% else %>
        <%= link_to t(:leave_group), group_leave_path(group), data: {turbo_method: :post, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
      <% end %>
    </h3>
  <div class="row" style="overflow-x: scroll">
    <div class="d-flex">
      <% [1,2,3,4,5,6,7,8,9].each do |item_num| %>
      <div class="card col-12 col-md-3 mx-2">
        <%= image_tag "dummy_image.png", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">Item <%= item_num %></h5>
          <p class="card-text">von: <span class="text-warning">Herbert Beimel</span></p>
          <p class="card-text text-success">verfügbar</p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  </div>
  </div>
  <% end %>
</div>
