<div class="d-flex flex-row-reverse">
  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#createGroupModal">
    <%= t(:create_group) %>
  </button>
</div>
<%= render "modal-create" %>

<% @groups.select{ |g| !g.personal_group? }.each do |group| %>
<div class="container text-center mt-5 p-3">
  <div class="h3">
    <%= render GroupNameComponent.new(group: group) %>
    <% if @user.admin_in?(group)%>
      <%= link_to " ", edit_group_path(group), class: "badge bg-primary bi bi-pencil-fill" %>
    <% else %>
      <%= link_to t(:leave_group), group_leave_path(group), data: {turbo_method: :post, turbo_confirm: t(:confirmation)}, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="row gx-3 flex-nowrap overflow-auto">
    <% group.viewable_items.each do |item| %>
    <div class="col-12 col-md-3">
      <%= render "items/item_card", item: item %>
    </div>
    <% end %>
    <% if group.viewable_items.empty? %>
    <div class="fs-6">
      <%= t(:group_no_items) %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
