<h1 class="text-center text-break">
  <%= render GroupNameComponent.new(group: @group) %>
</h1>
<div class='parent flex-parent' style="display: flex;">

<div class='child px-2' style="
flex: 1;
  overflow:auto;
  word-break: break-word;
  white-space: pre-line;
  width: 50%;
  max-height:500px;">
  <%= @group.description %>
</div>
<div class='child px-2' style="
flex: 1;
  width: 5o%;
  max-height: 500px;
  overflow: hidden;">
<%= image_tag @group.image.url %>
</div>
</div>

<div class="text-end">
  <%= mail_to @admin.email, t(:contact_group), class: "btn btn-sm btn-primary" %>
</div>

<h5 class="text-center mt-5">
  <%= t('items.headlines.items') %>
</h5>
<%= render GroupItemListComponent.new(group: @group) %>
