<h1>Neu inseriert</h1>

<div id="items">
  <div class="container">
      <div class="row ">
        <% @items.first(20).each do |item| %>
          <div class="col-sm-3 mb-4">
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/400x300" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title text-truncate"><%= item.name %></h5>
              <p class="card-text text-truncate"><%= I18n.t("items.card_text.owner") %> Alan Must</p>
              <p class="card-text text-truncate text-success"><%= item.status_text(current_user) %></p>
              <%= link_to I18n.t("items.buttons.show"), item, class: "card-link" %>
              <%= link_to I18n.t("items.buttons.edit"), edit_item_path(item), class: "card-link" %>
            </div>
          </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<main class="wrapper" style="padding-top:2em">
    <div>
        <video id="video" width="300" height="200" style="border: 1px solid gray"></video>
    </div>

    <div id="sourceSelectPanel" style="display:none">
        <label for="sourceSelect">Change video source:</label>
        <select id="sourceSelect" style="max-width:400px">
        </select>
    </div>
</main>

<script type="text/javascript" src="https://unpkg.com/@zxing/library@latest"></script>
<script type="text/javascript">
function decodeOnce(codeReader, selectedDeviceId) {
    codeReader.decodeFromInputVideoDevice(selectedDeviceId, 'video').then((result) => {
        document.location.href = result.text;
    })
    .catch((err) => {
        console.error(err)
    })
}

window.addEventListener('load', function () {
    let selectedDeviceId;
    const codeReader = new ZXing.BrowserQRCodeReader()

    codeReader.getVideoInputDevices().then((videoInputDevices) => {
        const sourceSelect = document.getElementById('sourceSelect')
        selectedDeviceId = videoInputDevices[0].deviceId
        if (videoInputDevices.length >= 1) {
            videoInputDevices.forEach((element) => {
                const sourceOption = document.createElement('option')
                sourceOption.text = element.label
                sourceOption.value = element.deviceId
                sourceSelect.appendChild(sourceOption)
            })

            sourceSelect.onchange = () => {
                selectedDeviceId = sourceSelect.value;
            };

            const sourceSelectPanel = document.getElementById('sourceSelectPanel')
            sourceSelectPanel.style.display = 'block'
        }

        decodeOnce(codeReader, selectedDeviceId);
    })
    .catch((err) => {
        console.error(err)
    })
})
</script>
