<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render(CommonItemFieldComponent.new()) %>

  <div class="mb-2">
    <%= form.label :isbn, I18n.t("items.form.book.isbn"), class: "form-label" %>
    <%= form.number_field :isbn, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :author, I18n.t("items.form.book.author"), class: "form-label" %>
    <%= form.text_field :author, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :release_date, I18n.t("items.form.book.release_date"), class: "form-label" %>
    <%= form.date_field :release_date, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label I18n.t("items.form.book.genre"), class: "form-label" %>
    <%= form.text_field :genre, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label I18n.t("items.form.book.language"), class: "form-label" %>
    <%= form.text_field :language, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label I18n.t("items.form.book.number_of_pages"), class: "form-label" %>
    <%= form.number_field :number_of_pages, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label I18n.t("items.form.book.publisher"), class: "form-label" %>
    <%= form.text_field :publisher, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label I18n.t("items.form.book.edition"), class: "form-label" %>
    <%= form.text_field :edition, class: "form-control" %>
  </div>

  <div class="mt-3">
    <%= form.button :submit, name: "item_type", value: "book", class: "btn btn-primary" %>
  </div>

<% end %>