<div class="mb-2">
  <%= label :name, I18n.t("items.form.all.name"), class: "form-label" %>
  <%= text_field :name, class: "form-control" %>
</div>

<div class="mb-2">
  <%= label :description, I18n.t("items.form.all.description"), class: "form-label" %>
  <%= text_field :description, class: "form-control" %>
</div>

<div class="mb-2">
  <%= label I18n.t("items.form.all.max_borrowing_days"), class: "form-label" %>
  <%= number_field :max_borrowing_days, min: 0, max: 365, class: "form-control" %>
</div>

<div class="mb-2">
  <%= label I18n.t("items.form.all.max_reservation_days"), class: "form-label" %>
  <%= number_field :max_reservation_days, min: 0, max: 365, class: "form-control"%>
</div>