<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label I18n.t("items.form.item.name"), style: "display: block" %>
    <%= form.text_field :name %>
  </div>

   <div>
    <%= form.label I18n.t("items.form.game.author"), style: "display: block" %>
    <%= form.text_field :author %>
   </div>

   <div>
    <%= form.label I18n.t("items.form.game.illustrator"), style: "display: block" %>
    <%= form.text_field :illustrator %>
   </div>

   <div>
    <%= form.label I18n.t("items.form.game.publisher"), style: "display: block" %>
    <%= form.text_field :publisher %>
   </div>

   <div>
    <%= form.label I18n.t("items.form.game.fsk"), style: "display: block" %>
    <%= form.number_field :fsk %>
   </div>

   <div>
    <%= form.label I18n.t("items.form.game.number_of_players"), style: "display: block" %>
    <%= form.number_field :number_of_players %>
   </div>

   <div>
    <%= form.label I18n.t("items.form.game.playing_time"), style: "display: block" %>
    <%= form.number_field :playing_time %>
   </div>

   <div>
    <%= form.label I18n.t("items.form.game.language"), style: "display: block" %>
    <%= form.text_field :language %>
   </div>

  <div>
    <%= form.label I18n.t("items.form.item.description"), style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label I18n.t("items.form.item.max_borrowing_days"), style: "display: block" %>
    <%= form.number_field :max_borrowing_days %>
  </div>

  <div>
    <%= form.button :submit , name: "item_type", value: "game" %>
  </div>
<% end %>
