<% if @item.book? %>
<h1><%=I18n.t("items.type.book")%></h1>
 <%= render "book_form", item: @item %>
<% elsif @item.movie? %>
<h1><%=I18n.t("items.type.movie")%></h1>
 <%= render "movie_form", item: @item %>
<% elsif @item.game? %>
<h1><%=I18n.t("items.type.game")%></h1>
 <%= render "game_form", item: @item %>
<% else @item.other? %>
<h1><%=I18n.t("items.type.other")%></h1>
 <%= render "other_form", item: @item %>
<% end %>
