 <% if @item.images.attached? %>
                <% carousel_id="carouselExampleIndicators-#{@item.id}"%>
                <div id="<%= carousel_id %>" class="carousel slide" data-bs-ride="true">
                  <div class="carousel-indicators">
                   <% @item.images.each_with_index do |image, index| %>
      
                    
                      <% if image.representable? %>
                          <button type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index %>"></button>

                        <% end %>
                
                     <% end %>
                  </div>
                  <div class="carousel-inner">
                   <% @item.images.each_with_index do |image, index| %>
                    <div class="carousel-item <%= 'active' if index == 0 %>">
      
                    
                      <% if image.representable? %>
                        <%= image_tag image.representation(resize_to_fill: [614, 441]), class: "card-img-top" %>
                        <% end %>
                
                    </div>
                    <% end %>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                  </div>
          
        
              <% else %>
                <img class="card-img-top" src="https://via.placeholder.com/400x300" alt="Card image cap">
              <% end%>