<%= form_with(model: @item) do |form| %>
  <% if @item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
        <% @item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="mb-2">
    <%= form.label "Item Photo" %><br>
    <%= form.file_field :image%>
  </div>
  
  <div class="mb-2">
    <%= form.label :name, I18n.t("items.form.all.name"), class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :description, I18n.t("items.form.all.description"), class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label I18n.t("items.form.all.max_borrowing_days"), class: "form-label" %>
    <%= form.number_field :max_borrowing_days, min: 0, max: 365, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label I18n.t("items.form.all.max_reservation_days"), class: "form-label" %>
    <%= form.number_field :max_reservation_days, min: 0, max: 365, class: "form-control"%>
  </div>
  
  <% if @item.book? %>
    <%= render "book_form", item: @item, form: form %>
  <% elsif @item.movie? %>
    <%= render "movie_form", item: @item, form: form %>
  <% elsif @item.game? %>
    <%= render "game_form", item: @item, form: form %>
  <% else @item.other? %>
    <%= render "other_form", item: @item, form: form %>
  <% end %>
<% end %>
