<%= stylesheet_link_tag "item-show.css" %>
<div id="<%= dom_id item %>">


  <%# The main show page %>
  <div class="container">
    <div class="row">
      <%# Image card, contains attributes if screen is big enough %>
      <div class="col-xl-6 card">
        <div class="card-body ">
          <%# Image slider%>
          <%#<%= image_tag "dummy_image.png", class: "card-img-top"%>
          <%# Attributes if small enough arranged as grid%>
          <div class="imagecard-attributes">
            <table class="table">
              <tbody>
              <tr>
                <td>Spieler: 5</td>
              </tr>
              <tr>
                <td>Alter: 12+</td>
              </tr>
              <tr>
                <td>Typ: Brettspiel+</td>
              </tr>
              <tr>
                <td>Jahr: 2014+</td>
              </tr>
              </tbody>
            </table>
          </div>


        </div>
      </div>


      <%# Name and Description card, contains attributes if screen is small enough %>
      <div class="col-xl-6">
        <%# Description Card%>
        <div class="card">
          <%# Attributes if screen is small enough%>
          <div class="card-body">
            <%# name%>
            <h1 class="card-title"><%= item.name %></h1>
            <%# available badge if screen is small enough%>
            <div>

            </div>
            <%# owner%>
            <p class="card-text">
              <span>von: </span>
              <span>Ownername</span>
            </p>
            <%# Description%>
            <p class="card-text"><%= item.description %></p>
            <div class="descriptioncard-attributes">
              <table class="table">
                <tbody>
                <tr>
                  <td>Spieler: 5</td>
                </tr>
                <tr>
                  <td>Alter: 12+</td>
                </tr>
                <tr>
                  <td>Typ: Brettspiel+</td>
                </tr>
                <tr>
                  <td>Jahr: 2014+</td>
                </tr>
                </tbody>
              </table>
            </div>


          </div>
        </div>


      </div>

    </div>


  </div>



</div>
