<% if defined?(width) && defined?(height) %>
<% image_style="width: #{width}; height: #{height}; object-fit: cover;" %>
  <% else %>
    <% image_style="" %>
<% end %>
<% if !defined?(width) %>
  <% width='' %>
<% end %>
<% if !defined?(height) %>
  <% height= '' %>
<% end %>

 <% if @item.images.attached? %>
                <% carousel_id="carouselExampleIndicators-#{@item.id}#{width}-#{height}"%>
                <div id="<%= carousel_id %>" class="carousel slide" data-bs-ride="true">
                  <div class="carousel-indicators">
                   <% @item.images.each_with_index do |image, index| %>
      
                    
                      <% if image.representable? %>
                          <button type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index %>"></button>

                        <% end %>
                
                     <% end %>
                  </div>
                  <div class="carousel-inner">
                   <% @item.images.each_with_index do |image, index| %>
                    <div class="carousel-item <%= 'active' if index == 0 %>">
      
                    
                      <% if image.representable? %>
                        <%= image_tag image, class: "img-fluid", style: image_style %>
                    

                        <% if defined?(showImageManager) && showImageManager %>
                        <div class="carousel-caption d-none d-md-block">
                             <%= link_to I18n.t("items.buttons.destroy_image"), remove_image_item_path(signed_id: image.signed_id, id: @item.id),
                                data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
                        </div>
                        <% end %>

                        <% end %>
                
                    </div>
                    <% end %>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                  </div>
          
        
              <% else %>
                                <%= image_tag "https://via.placeholder.com/400x300", class: "card-img-top",  alt: "Card image cap", style: image_style %>

              <% end%>
            

            

               <% if defined?(showImageManager) && showImageManager %>
                <%= form_with(url: add_image_item_url(id: @item.id)) do |form| %>
                    <div class="mb-2">
                        <%= form.file_field :images, multiple: true, accept: 'image/jpg, image/png, image/jpeg', id: "addImagesInput" %>
                    </div>
                    <div class="mt-3">
                      <%= form.button :submit, class: "btn btn-primary" %>
                    </div>
                <% end %>
                          <% end %>