<%# The main show page for small screens %>
<div class="small-screen">
  <%# Image slider%>
  <%= image_tag "dummy_image.png", class: "card-img-top"%>
  <hr class="border border-primary border-2 opacity-75"/>
 
  <div class="container">
    <div class="row">
      <%# name%>
      <h1 class="col-sm-7"><%= @item.name %></h1>
      <%# available badge%>
      <div class="col-sm-2 ms-auto">
        <%= render(ItemAvailabilityBadgeComponent.new(item: @item, user: current_user)) %>
      </div>
    </div>
   <%= render 'owner_component', item: @item %>
  </div>
   <%# Button %>
  <% if current_user.can_manage?(@item) %>
    <br>
    <span class="d-flex justify-content-around">
      <%= button_to I18n.t("items.buttons.edit"), edit_item_path(@item), method: :get, class: "mx-auto btn btn-primary"%>
      <%= button_to I18n.t("items.buttons.delete"), item_path(@item), method: :delete, data: { turbo_confirm: I18n.t("items.messages.deletion_confirmation")}, class: "mx-auto btn btn-primary"%>
      <%= link_to "<text>#{I18n.t("items.buttons.download_qrcode")}</text>".html_safe, download_path(@item),class: "btn btn-primary" %>
    </span>
  <% end %>
  <hr class="border border-primary border-2 opacity-75">
  <%# Description%>
  <p class="text-start text-break"><%= @item.description %></p>
  <%# Infobox%>
  <% if @item.reserved_by?(current_user) and @item.borrowable_by?(current_user) and !@src_is_qrcode %>
    <%= render(InfoboxComponent.new(heading: I18n.t("items.infobox.borrow.heading"), body: I18n.t("items.infobox.borrow.body"), bootstrap_classes: "border-secondary mx-5"))%>
  <% end %>
  <% if @item.borrowed_by?(current_user) and !@src_is_qrcode %>
    <%= render(InfoboxComponent.new(heading: I18n.t("items.infobox.return.heading"), body: I18n.t("items.infobox.return.body"), bootstrap_classes: "border-secondary mx-5"))%>
  <% end %>
  <%# Map %>
  <div id="item-location-small" style="height: 240px;"></div>
  <%# Attributes %>
  <table class="table">
    <tbody>
    <% @item.attributes.each do |attr_name, attr_value| %>
      <ul class="list-group list-group-horizontal list-group-flush border-top border-1 mx-3">
        <% if @item.common_attributes.include? attr_name %>
          <li class=" list-group-item flex-fill align-content-between py-1 text-break" style="border: none;"><%= I18n.t("items.form." + "all" + "." + attr_name.to_s)%></li>
          <li class="list-group-item w-50 align-content-between py-1 text-break" style="border: none;"><%= @item.send(attr_name) %></li>
        <% else %>
          <li class=" list-group-item flex-fill align-content-between py-1 text-break" style="border: none;"><%= I18n.t("items.form." + @item.item_type.to_s + "." + attr_name.to_s)%></li>
          <li class="list-group-item w-50 align-content-between py-1 text-break" style="border: none;"><%= @item.send(attr_name) %></li>
        <% end %>
      </ul>
    <% end %>
    </tbody>
  </table>
  <div class="button-blocker">
  </div>

  <% if @item.reservable_by?(current_user) && !@src_is_qrcode %>
    <%= render(ItemBorrowButton.new(
      text: I18n.t("items.buttons.reserve"), 
      action: item_reserve_path(@item), 
      bootstrap_classes: "btn btn-primary item-action-button")
    )%>
  <% end %>

  <% if @item.borrowable_by?(current_user) && @src_is_qrcode %>
    <%= render(ItemBorrowButton.new(
      text: I18n.t("items.buttons.borrow"), 
      action: item_borrow_path(@item), 
      bootstrap_classes: "btn btn-primary item-action-button")
    )%>
  <% end %>

  <% if @item.borrowed_by?(current_user) && @src_is_qrcode %>
    <%= render(ItemBorrowButton.new(
      text: I18n.t("items.buttons.return"), 
      action: item_give_back_path(@item), 
      bootstrap_classes: "btn btn-primary item-action-button")
    )%>
  <% end %>
</div>
