<%# The main show page for large screens %>
<div class="large-screen">
  <div class="container">
    <div class="row">
      <%# Image card, contains attributes if screen is big enough %>
      <div class="col-xl-6 p-3">
        <div class="card h-100">
          <%# Image slider%>
          <%= image_tag "dummy_image.png", class: "card-img-top"%>
          <div class="card-body ">
            <%# Attributes if small enough arranged as grid%>
            <div class="imagecard-attributes">
              <%# TODO: i18n %>
              <table class="table">
                <h2 class="mx-3">Item details</h1>
                <tbody>
                  <%# Don't want to show the description or name here, we display these separately further down %>
                  <%# If there are other fields you wish to hide from the attribute table, you can add them to the array in the line below %>
                  <% @item.attributes.select{ |v| !v.in?(['description', 'name']) }.each do |attr_name, attr_value| %>
                    <ul class="list-group list-group-horizontal list-group-flush border-top border-1 mx-3">
                    <% if @item.common_attributes.include? attr_name %>
                      <li class=" list-group-item flex-fill align-content-between py-1 text-break" style="border: none;"><%= I18n.t("items.form." + "all" + "." + attr_name.to_s)%></li>
                      <li class="list-group-item w-50 align-content-between py-1 text-break" style="border: none;"><%= @item.send(attr_name) %></li>
                    <% else %>
                      <li class=" list-group-item flex-fill align-content-between py-1 text-break" style="border: none;"><%= I18n.t("items.form." + @item.item_type.to_s + "." + attr_name.to_s)%></li>
                      <li class="list-group-item w-50 align-content-between py-1 text-break" style="border: none;"><%= @item.send(attr_name) %></li>
                    <% end %>
                    </ul>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <%# Description Card%>
      <%# Name and Description card, contains attributes if screen is small enough %>
      <div class="col-xl-6 p-3">
        <div class="card h-100">
          <%# Attributes if screen is small enough%>
          <div class="card-body">
            <div class="container">
              <div class="row">
                <%# name%>
                <h1 class="col-sm-7"><%= @item.name %></h1>
                <%# available badge%>
                <div class="col-sm-3 ms-auto">
                  <%= render(ItemAvailabilityBadgeComponent.new(item: @item, user: current_user)) %>
                </div>
              </div>
              <%= render 'owner_component', item: @item %>
            </div>

            <%# Button %>
            <% if current_user.can_manage?(@item) %>
              <br>
              <span class="d-flex justify-content-around">
                <%= button_to I18n.t("items.buttons.edit"), edit_item_path(@item), method: :get, class: "mx-auto btn btn-primary"%>
                <%= button_to I18n.t("items.buttons.delete"), item_path(@item), method: :delete, data: { turbo_confirm: I18n.t("items.messages.deletion_confirmation")}, class: "mx-auto btn btn-primary"%>
                <%= link_to "<text>#{I18n.t("items.buttons.download_qrcode")}</text>".html_safe, download_path(@item),class: "btn btn-primary" %>
              </span>
              <hr class="border border-primary border-2 opacity-75">
            <% end %>
            <hr class="border border-primary border-2 opacity-75">
            <%# Description%>
            <p class="text-start text-wrap">
              <% if @item.description.empty? %>
                <i>No description provided</i>
              <% else %>
                <%= @item.description %>
              <% end  %>
            </p>
            <h5>This item was last seen at:</h5>
            <%# Infobox%>
            <% if current_user.can_borrow?(@item) %>
              <% if @item.reserved_by?(current_user) and @item.borrowable_by?(current_user) and !@src_is_qrcode %>
                <%= render(InfoboxComponent.new(heading: I18n.t("items.infobox.borrow.heading"), body: I18n.t("items.infobox.borrow.body"), bootstrap_classes: "border-secondary mx-5"))%>
              <% end %>
              <% if @item.borrowed_by?(current_user) and !@src_is_qrcode %>
                <%= render(InfoboxComponent.new(heading: I18n.t("items.infobox.return.heading"), body: I18n.t("items.infobox.return.body"), bootstrap_classes: "border-secondary mx-5"))%>
              <% end %>
            <% else %>
              <%= render(InfoboxComponent.new(heading: I18n.t("items.infobox.missing_borrowing_permissions.heading"), body: I18n.t("items.infobox.missing_borrowing_permissions.body"), bootstrap_classes: "border-secondary mx-5"))%>
            <% end %>
            <%# Map%>
            <div id="item-location-large" style="height: 240px;"></div>
          </div>
          <%= button_to I18n.t("items.buttons.back"), items_path, method: :get, class: "mx-auto btn btn-primary"%>
          <div class="d-flex justify-content-center w-100 mb-5">

            <% if @item.reservable_by?(current_user) && !@src_is_qrcode %>
              <%= render(ItemBorrowButton.new(
                text: I18n.t("items.buttons.reserve"), 
                action: item_reserve_path(@item), 
                bootstrap_classes: "mx-auto btn btn-primary")
              )%>
            <% end %>

            <% if @item.borrowable_by?(current_user) && @src_is_qrcode %>
              <%= render(ItemBorrowButton.new(
                text: I18n.t("items.buttons.borrow"), 
                action: item_borrow_path(@item), 
                bootstrap_classes: "mx-auto btn btn-primary")
              )%>
            <% end %>

            <% if current_user.can_return_as_owner?(@item)%>
              <%= render(ItemBorrowButton.new(
                text: I18n.t("items.buttons.owner-return"), 
                action: item_give_back_path(@item), 
                bootstrap_classes: "mx-auto btn btn-primary")
              )%>
            <% end %>

            <% if @item.borrowed_by?(current_user) && @src_is_qrcode %>
              <%= render(ItemBorrowButton.new(
                text: I18n.t("items.buttons.return"), 
                action: item_give_back_path(@item), 
                bootstrap_classes: "mx-auto btn btn-primary")
              )%>
            <% end %>

            <% if @item.allows_joining_waitlist?(current_user) %>
              <%= render(ItemBorrowButton.new(
                text: I18n.t("items.buttons.join_waitlist", :users_waiting => @item.users_on_waitlist_before(current_user)), 
                action: item_join_waitlist_path(@item), 
                bootstrap_classes: "mx-auto btn btn-primary")
              )%>
            <% end %>

            <% if @item.waitlist_has?(current_user) %>
              <%= render(ItemBorrowButton.new(
                text: I18n.t("items.buttons.leave_waitlist", :users_waiting => @item.users_on_waitlist_before(current_user)), 
                action: item_leave_waitlist_path(@item), 
                bootstrap_classes: "mx-auto btn btn-primary")
              )%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
