<%# The main show page for small screens %>
<div class="small-screen">
  <%# Image slider%>
  <%= image_tag "dummy_image.png", class: "card-img-top"%>
  <hr class="border border-primary border-2 opacity-75"/>
 
  <div class="container">
    <div class="row">
      <%# name%>
      <h1 class="col-sm-7"><%= @item.name %></h1>
      <%# available badge%>
      <div class="col-sm-2 ms-auto">
        <%= render(ItemAvailabilityBadgeComponent.new(item: @item, user: current_user)) %>
      </div>
    </div>
    <div class="row">
      <%# owner%>
      <p class="card-text">
        <%= I18n.t("items.card_text.owner") %>
        <span class="text-warning">Ownername</span>
      </p>
    </div>
  </div>


  <hr class="border border-primary border-2 opacity-75"/>
  <%# Description%>
  <p class="card-text"><%= @item.description %></p>
  <div id="item-location-small" style="height: 240px;"></div>
  <%# Attributes %>
  <table class="table">
    <tbody>
    <% @item.attributes.each do |attr_name, attr_value| %>
        <ul class="list-group list-group-horizontal list-group-flush border-top border-2 mx-3">
          <li class=" list-group-item flex-fill align-content-between py-1 text-break" style="border: none;"><%= I18n.t("items.form." + @item.item_type.to_s + "." + attr_name.to_s)%></li>
          <li class="list-group-item w-50 align-content-between py-1 text-break" style="border: none;"><%= @item.send(attr_name) %></li>
        </ul>
    <% end %>
    </tbody>
  </table>
  <%# Main Button %>
  <%= link_to I18n.t("items.buttons.edit"), edit_item_path(@item) %> |
  <%= link_to I18n.t("items.buttons.back"), items_path %> |
  <%= link_to I18n.t("items.buttons.download_qrcode"), download_path(@item) %>
  <%# <%= button_to "Destroy this item", @item, method: :delete %>
  <div class="button-blocker">
  </div>
   <% if current_user.can_borrow?(@item) and @src_is_qrcode %>
  <%= form_tag item_update_lending_path(@item), method: :patch do %>
    <%= hidden_field_tag 'lat'  %>
    <%= hidden_field_tag 'lng'  %>
    <%= button_tag @item.button_text(current_user), class: "btn btn-primary item-action-button" %>
  <% end %>
  <script>
    getLocation();
  </script>
<% end %>
</div>
