<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :name, I18n.t("items.form.movie.name"), class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :director, I18n.t("items.form.movie.director"), class: "form-label" %>
    <%= form.text_field :director, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :release_date, I18n.t("items.form.movie.release_date"), class: "form-label" %>
    <%= form.date_field :release_date, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :format, I18n.t("items.form.movie.format"), class: "form-label" %>
    <%= form.text_field :format, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :genre, I18n.t("items.form.movie.genre"), class: "form-label" %>
    <%= form.text_field :genre, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :language, I18n.t("items.form.movie.language"), class: "form-label" %>
    <%= form.text_field :language, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :fsk, I18n.t("items.form.movie.fsk"), class: "form-label" %>
    <%= form.number_field :fsk, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :description, I18n.t("items.form.movie.description"), class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :max_borrowing_days, I18n.t("items.form.movie.max_borrowing_days"), class: "form-label" %>
    <%= form.number_field :max_borrowing_days, class: "form-control" %>
  </div>

  <div class="mt-3">
    <%= form.button :submit , name: "item_type", value: "movie", class: "btn btn-primary" %>
  </div>
<% end %>