<h1>Editing item</h1>

<% if @item.book? %>
 <%= render "book_form", item: @item %>
<% elsif @item.movie? %>
 <%= render "movie_form", item: @item %>
<% elsif @item.game? %>
 <%= render "game_form", item: @item %>
<% else @item.other? %>
 <%= render "other_form", item: @item %>
<% end %>

<br>

<div>
  <%= link_to I18n.t("items.buttons.show"), @item %> |
  <%= link_to I18n.t("items.buttons.back"), items_path %>
</div>
