<h1><%=I18n.t("items.form.edit")%></h1>

<%= render "items/item_type_form", item: @item %>

<br>
<div class="card-body">
    <a class="mx-auto btn btn-primary" href=<%=item_path(@item)%>><%=I18n.t("items.buttons.show")%></a>
</div>
<br>
<div class="card-body">
    <a class="mx-auto btn btn-primary" href=<%=items_path%>><%=I18n.t("items.buttons.back")%></a>
</div>
<<