<h1><%=I18n.t("items.form.new")%> <%=I18n.t("items.type." + @item.item_type.to_s)%></h1>

<%= render "items/item_type_form", item: @item %> 

<br>

<div class="card-body">
    <a class="mx-auto btn btn-primary" href=<%=items_path%>><%=I18n.t("items.buttons.back")%></a>
</div>
