<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%if @item.is_lendable or @item.is_reserved_by(user) then 
      text = "Ausleihen"
    elsif @item.is_borrowed_by(user) then
      text = "Zurückgeben"
    else 
      text = "Nicht verfügbar"
    end 
  %>
  <%= button_to text, @item, notice: "Placholder method" %>


  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>
