<% content_for :head_addition do %>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
  <script id="leafletScript" src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
<% end %>

<%= stylesheet_link_tag "item-show.css" %>
<div id="<%= dom_id @item %>">
  <script>
    function getLocation(lat, lng) {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {saveUserPositionInHiddenForm(position, lat, lng)}, (error) => {
          console.log(error);
        });
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }

    function saveUserPositionInHiddenForm(position, lat, lng) {
      document.getElementById(lat).value = position.coords.latitude;
      document.getElementById(lng).value = position.coords.longitude;
    }
  </script>
  <%= render "item_largescreen" %>
  <%= render "item_smallscreen" %>

  <%# lending history of this item %>
  <% if current_user.can_manage?(@item) %>
    <h2 class="mt-5"><%= t('analytics.history.headline') %></h2>
    <% if @item.lending_history.length <= 0 %>
      <div class="d-flex justify-content-center">
        <h4><%= t('analytics.history.empty') %></h4>
      </div>
    <% else %>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead style="background-color: var(--bs-gray-300)">
          <tr>
            <th scope="col"><%= t("analytics.history.borrower")%></th>
            <th scope="col"><%= t("analytics.history.date_borrowed")%></th>
            <th scope="col"><%= t("analytics.history.date_returned")%></th>
          </tr>
        </thead>
        <tbody>
          <% @item.lending_history.each do |lending| %>
            <tr>
              <th scope="row"><%=lending.user.full_name%></th>
              <td><%= lending.started_at.strftime("%d-%m-%Y") %></td>
              <td><%=
                if (lending.completed_at)
                  lending.completed_at.strftime("%d-%m-%Y")
                else
                  t('analytics.history.not_returned')
                end
              %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <% end %>
</div>


<script>
  function loadMap(div_id) {
    // default values if item has no coordinates
    var itemCoordinates = [32.71199, -94.12118];
    var setMarker = false;
    var zoomLevel = 16;

    var item = <%= @item.to_json.html_safe %>;
    if (item.lat !== null && item.lng !== null) {
      itemCoordinates = [item.lat, item.lng];
      setMarker = true;
      zoomLevel = 18;
    }

    var map = L.map(div_id).setView(itemCoordinates, zoomLevel);

    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    if (setMarker) {
      var marker = L.marker(itemCoordinates).addTo(map);
    }
  }

  var mapTriggered = false;

  function renderMap() {
    if (mapTriggered || !("L" in window))
        return;
    mapTriggered = true;

    loadMap("item-location-small");
    loadMap("item-location-large");
  }

  document.getElementById("leafletScript").addEventListener("load", renderMap)
  document.addEventListener("turbo:load", renderMap)
</script>
