<%= render "items/filter_form" %>

<div class="row mt-3 my-0">
    <% @visible_items = @items.select{ |item| current_user.can_view?(item) } %>
    <% @visible_items.first(20).each do |item| %>
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4">

        <%= render "items/item_card", item: item %>
                </div>

    <% end %>
</div>

<div class="fixed-bottom d-flex justify-content-end mobile-only" id="mobile-dropdown-button-group">
  <div class="btn-group dropdown">
    <a class="btn btn-secondary d-flex align-items-center justify-content-center m-3" style="width: 60px; height: 60px; border-radius: 30px; box-shadow: 2px 2px 3px #00000044;" type="button" id="mobileDropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="bi bi-plus text-white fs-2"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="mobileDropdownMenuButton">
      <%= link_to I18n.t("items.type.book"), new_item_path(item_type: :book), :class => "dropdown-item" %>
      <%= link_to I18n.t("items.type.movie"), new_item_path(item_type: :movie), :class => "dropdown-item" %>
      <%= link_to I18n.t("items.type.game"), new_item_path(item_type: :game), :class => "dropdown-item" %>
      <%= link_to I18n.t("items.type.other"), new_item_path(item_type: :other), :class => "dropdown-item" %>
    </div>
  </div>
</div>

<div class="btn-group desktop-only">
  <%= link_to I18n.t("export_csv"), export_csv_items_path(request.query_parameters), class: "btn btn-secondary" %>
</div>
