<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-white desktop-only py-0" href="/">
      <%= image_tag "logo-hpi-small.png", width: 40 %>
    </a>
    <a class="navbar-brand text-white mobile-only" href="/scan">
      <i class="bi bi-qr-code-scan fs-3"></i>
    </a>
    <div class="collapse navbar-collapse bg-primary" id="navbarToggle">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="bi bi-house-fill mobile-only"></i>
            <%=t("navbar.home")%>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-book-fill mobile-only"></i>
            <%=t("navbar.assets")%>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-collection-fill mobile-only"></i>
            <%=t("navbar.groups")%>
          </a>
          <ul class="dropdown-menu bg-primary">
            <li><a class="dropdown-item text-white" href="#">SWA-Lehrstuhl
              <i class="bi bi-patch-check-fill text-warning"></i></a></li>
            <li><a class="dropdown-item text-white" href="#">Fachschaftsrat
              <i class="bi bi-patch-check-fill text-warning"></i></a></li>
            <li><a class="dropdown-item text-white" href="#">Filmklub</a></li>
            <li><a class="dropdown-item text-white" href="#">Spieleklub</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-tag-fill mobile-only"></i>
            <%=t("navbar.categories")%>
          </a>
        </li>

        <li class="mobile-only nav-item">
          <a href="#" class="nav-link"><i class="bi bi-bell-fill"></i> <%=t("navbar.notifications")%></a>
        </li>
        <li class="mobile-only nav-item">
          <a href="<%= profiles_me_path %>" class="nav-link"><i class="bi bi-person-fill"></i> <%=t("navbar.profile")%></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= language_flag(I18n.locale)%>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <%= link_to "English", { :locale => 'en' }, class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Deutsch", { :locale => 'de' }, class: "dropdown-item" %>
            </li>
          </ul>
        </li>

      </ul>

      <form class="d-flex desktop-only mx-3">
        <input class="form-control me-2" type="search" placeholder=<%=t("navbar.search")%> aria-label="Search">
        <button class="btn btn-outline-light" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
      <span>
        <a href="#" class="desktop-only text-white"><i class="bi bi-bell-fill fs-3"></i></a>
        <a href="<%= profiles_me_path %>" class="desktop-only text-white"><i class="bi bi-person-fill fs-3"></i></a>
      </span>
    </div>
  </div>
</nav>